{% extends 'base.html' %}

{% block content %}
<h1>Page patrol</h1>

<p><a href="{{ url_for('.new_term') }}">add a new term</a></p>

sort by: <a href="{{ url_for('.index', order='name') }}">name</a> or <a href="{{ url_for('.index', order='hits') }}">hits</a>

<table class="table table-condensed" style="width:auto">
  <thead>
    <tr>
      <th>term</th>
      <th class="text-right">hits</th>
      <th class="text-right">safe articles</th>
      <th class="text-right">safe phrases</th>
    </tr>
  </thead>
  <tbody>
  {% for t in terms %}
    {% set term = t.term %}
    {% set url = url_for('.patrol', term=t.term.replace(' ', '_')) %}
    <tr>
      <td><a href="{{ url }}">{{ term }}</a></td>
      <td class="text-right">{{'{:,d}'.format(t.total_hits | int) }}</td>

      <td class="text-right">
        {% if sa[term] %}{{'{:,d}'.format(sa[term]) }} <a href="{{ url_for('.safe_articles', term=term) }}">safe articles</a>{% endif %}
      </td>

      <td class="text-right">
        {% if sp[term] %}{{'{:,d}'.format(sp[term]) }} <a href="{{ url_for('.safe_phrases', term=term) }}">safe phrases</a>{% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
