{% extends 'base.html' %}
{% from 'modal_dialogs.html' import delete_modal %}

{% block title %}
  Safe articles for {{ term.term }}
{% endblock %}

{% block dialogs %}
{% set url_term = term.term.replace(' ', '_') %}
{{ delete_modal('Remove safe article',
                'Are you sure?',
                url_for('.remove_safe_article', term=url_term)) }}
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<p>
  <a href="{{ url_for('.patrol', term=url_term) }}">patrol {{ term.term }}</a>
  | <a href="{{ url_for('.safe_phrases', term=url_term) }}">safe phrases</a>
  | <a href="{{ url_for('.index') }}">back to index</a>
</p>
<ul>
{% for title in safe_articles %}
  <li><a href="https://en.wikipedia.org/wiki/ {{ title.replace(' ', '_') | urlize }}">{{ title }}</a>
  <span class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteModal" data-item="{{ title }}"></span>
  </li>
{% endfor %}
</ul>
{% endblock %}

{% block scripts %}
<script>
$('#deleteModal').on('show.bs.modal', function (event) {
  var trigger = $(event.relatedTarget)
  var item = trigger.data('item')
  var modal = $(this)
  var body = ('Are you sure you want to remove "' + item +
              '" as a safe article for "{{ term.term }}"')
  modal.find('.modal-title').text('Remove safe article: ' + item)
  modal.find('.modal-body').text(body)
  modal.find('.modal-footer input').val(item)
})
</script>
{% endblock %}
